/*
    Author: Yonnon
    Website: Madara Web DEMO
*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
    01. General Setting
    02. Responsive Snipper
    03. Preloader
    04. Header
    05. Nav
--------------------------------------------- */

/*
------------------------------------------------
01. General Setting
------------------------------------------------
*/
/* Font-Google */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
  scroll-behavior: smooth;

  &:focus {
    outline: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

$font-01: "Muli", sans-serif;
$s1: 0.5s;
$m-01: #7681a4;
$m-02: #5d698d;

$c-01: #10182f;
$c-02: #545d7a;
$c-03: #306bf3;

$g-01: linear-gradient(140deg, $m-01, $m-02);

$neu-01: #f7f8fc;
$neu-02: #dae1f5;
$neu-03: #6f7073;
$neu-04: #505050;
$neu-05: #403e3e;

$x1: 1200px;

/*
------------------------------------------------
02. Responsive Snipper
------------------------------------------------
*/

@mixin container {
  width: 70%;
  height: 100%;
  margin: 0px auto;
}

@mixin lg {
  @media screen and (max-width: 1180px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: 799px) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: 511px) {
    @content;
  }
}

/*
      Devices : iphone 5/SE, iphone 6,7,8 (plus), iphone X, small Table, Ipad, Ipad Pro, TV 1920x1080
      Vertical : d
      Horizontal : n
*/

/* IPHONE 5, SE */
@mixin v5 {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin h5 {
  @media screen and (max-width: 568px) {
    @content;
  }
}

/* IPHONE 6,7,8 */

@mixin v678 {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin h678 {
  @media screen and (max-width: 667px) {
    @content;
  }
}

/* IPHONE 6,7,8 (plus) */

@mixin v678P {
  @media screen and (max-width: 414px) {
    @content;
  }
}

@mixin h678P {
  @media screen and (max-width: 736px) {
    @content;
  }
}
/*
/* IPHONE X */

@mixin vX {
  @media screen and (max-width: 414px) {
    @content;
  }
}

@mixin hX {
  @media screen and (max-width: 812px) {
    @content;
  }
}

/*
/* SMALL TABLE */

@mixin vSmallTable {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin hSmallTable {
  @media screen and (max-width: 800px) {
    @content;
  }
}

/*
/* IPAD */

@mixin vIpad {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin hIpad {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

/*
/* IPAD PRO */

@mixin vIpadP {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin hIpadP {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

/*
/* DESKTOP */

@mixin vIpad {
  @media screen and (max-width: 1920px) {
    @content;
  }
}

@mixin hIpad {
  @media screen and (max-width: 1080px) {
    @content;
  }
}

/*
/* Custom */

@mixin v500 {
  @media screen and (max-width: 500px) {
    @content;
  }
}

body {
  height: 200vh;
}

img {
  user-select: none;
  &:hover {
  }
}

::selection {
  background-color: #eb3349;
  color: #fff;
}
/*
---------------------------------------------
03. Preloader
---------------------------------------------
*/
#preloader {
  overflow: hidden;
  background-image: linear-gradient(135deg, #f35b43 0%, #eb3349 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
---------------------------------------------
04. Back to top
---------------------------------------------
*/
#back-to-top {
  position: fixed;
  right: 40px;
  bottom: 30px;
  background-color: #eb3349;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
  z-index: 999999;
  @include sm() {
    right: 10px;
  }
  i {
    font-size: 2em;
    color: #fff;
  }
}
